.blinking-cursor {
  font-weight: 100;
  font-size: 28px;
  color: #ffffff;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}
